.button {
  color: #FFF;
  font-size: 24px;

  border: none;
  background: #FFA200;
  padding: 8px 24px;
  border-radius: 16px;

  transition: 300ms;

  &:hover {
    background: #047F9F;
    color: #FFF;
  }

  &.outlined {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFA200;
    font-size: 24px;

    border: 1px solid #FFA200;
    border-radius: 16px;
    background: #FFF;
    padding: 6px 16px ;
    min-width: 164px;

    transition: 300ms;

    &:hover {
      background: #FFA200;
      color: #FFF;
    }

    b {
      color: #000;
      font-size: 16px;
      margin-left: 8px;
    }
  }
}