#requests-page {
  header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 100px 124px 0px 124px;

    h2 {
      margin-top: 24px;
    }
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 48px 124px 0px 124px;

    .section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 16px;

      form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          border: 1px solid #FFA200;
          border-radius: 16px;
          background: #FFF;
  
          padding: 8px 16px;
          width: 364px;
          margin: 4px 36px 0px 0px;
        }
      }
    }

    .table {
      margin-top: 64px;
      height: 500px;
      width: 100%;
    }
  }
}