#edit-client-page {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 48px 124px 0px 124px;

    .board {
      display: flex;
      flex-direction: column;
      margin-bottom: 36px;
      width: 100%;
      gap: 16px;

      border: 2px solid #047F9F;
      border-radius: 16px;
      
      form {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 64px 64px;

        h2 {
          font-size: 24px;
          margin: 48px 0px 0px 8px;
        }

        .clientInfos {
          display: flex;
          gap: 64px;

          div {
            display: flex;
            flex-direction: column;

            b {
              font-size: 16px;
              margin: 36px 0px 6px 8px;
            }
  
            input {
              font-size: 16px;
              padding: 4px 6px;
              width: 350px;
  
              border: 1px solid #0008;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}